# macOS
.DS_Store

# IDE Specific
nbproject
.~lock.*
.buildpath
.idea
.project
.settings
.vscode
composer.lock
*.sublime-workspace
*.swp
*.swo
*.pyc

# Project Specific
.eslintcache
coverage
node_modules
*.log
*.tgz
.env
